<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <table class="table">
      <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Time</th>
        <th scope="col">Priority</th>
        <th scope="col">CreatedDate</th>
        <th scope="col">UpdatedDate</th>
        </tr>
      </thead>
    <tbody>
      {{range .todos}}
        <tr>
          <th scope="row">#</th>
          <td>{{.title}}</td>
          <td>{{.time}}</td>
          <td>{{.priority}}</td>
          <td>{{.createdDate}}</td>
          <td>{{.updatedDate}}</td>
        </tr>
      {{end}}
    </tbody>
    </table>

  </body>
</html>
